node_modules

# Next.js build folder
.next

# Trigger.dev build folder
.trigger    

# VSCode
.vscode

# .env
.env
.env.test
.env.local

# migrations
/src/drizzle/meta


/build
/coverage

clean-cache.sh
fix-dependencies.sh